.following .search {
	margin-bottom: 0;
}

.following__search.card.is-compact {
	padding: 0;
	margin-bottom: 16px;
	box-shadow: 0 0 0 2px transparentize( lighten( $gray, 20% ), .5 ), 0 1px 2px lighten( $gray, 30% );
	z-index: z-index( 'root', '.reader-following-search' );
}

.following__intro {
	background: url(/calypso/images/reader/reader-intro-background.jpg);
	background-position: bottom right;
	min-height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}

.following__intro-description {
	margin-left: 10px;
	max-width: 50%;
	padding-top: 60px;
}

.following__intro-close {
	float: right;
	color: #fff;
	margin-top: 10px;
	margin-right: 10px;

	&:hover {
		cursor: pointer;
	}
}